.w-15 {
    width: 15%;
}

.bg-gray {
    background-color: #e9ecef;
}

.bg-nav{
    background-color: rgba(1, 141, 8, 0);
}


body {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
}

textarea {
    resize: none;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
}

.img-thumb {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
}

.bg-blur {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.mySticky {
    position: sticky;
    left: 0;
}

.container{

}

.text-stroke{
    text-shadow:
            0.07em 0 white,
            0 0.07em white,
            -0.07em 0 white,
            0 -0.07em white;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}
*{
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    background: #F37A1D;
    border-top: 3px solid #F37A1D;
}

body{ min-height:100vh; margin:0; position:relative; }
header{ min-height:50px; background:lightcyan; }
footer{ background:PapayaWhip; }

/* Trick: */
body {
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 50px; /* Set same as footer's height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}