<!doctype html>
<html lang="en">

<head th:replace="~{fragments/commons::head}">
<body style="background-image: url(/images/background-img2.jpg)" class="bg d-flex flex-column min-vh-100">
<header th:replace="~{fragments/commons::nav}"></header>


<div class="container py-5">
    <div class="row">
        <th:block th:each="movie : ${allMovies}">
            <div class="col-lg-3 col-6 g-3">
                <div class="lc-block">
                    <a th:href="@{/movies/details/{id}(id=${movie.id})}">
                    <img class="img-fluid"
                         th:src="${movie.imgUrl}" sizes="(max-width: 1080px) 100vw, 1080px" width="300" height="390"
                         alt="Photo by {movie.photographer}" loading="lazy">
                    </a>
                </div>
            </div>
        </th:block>
    </div>
</div>


<footer th:replace="~{fragments/commons::footer}" class=""></footer>
</body>

</html>