<!doctype html>
<html lang="en">

<head th:replace="~{fragments/commons::head}">
<body style="background-image: url(/images/background-img2.jpg)" class="bg d-flex flex-column min-vh-100">
<header th:replace="~{fragments/commons::nav}"></header>
<!--Title name start-->
<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="lc-block">
                    <div editable="rich">

                        <p class="lead fw-bold text-primary">details</p>

                        <h2 class="fw-bold display-2">
                            <th:block th:text="${movie.title}"></th:block>
                        </h2>


                    </div>
                </div>
            </div><!-- /col -->
            <div class="col-lg-6">
                <div class="lc-block">
                    <!--                        <div editable="rich">-->
                    <!--                            <p class="rfs-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus id ligula malesuada placerat sit amet quis enim. Aliquam erat volutpat. In pellentesque scelerisque auctor. Ut porta lacus eget nisi fermentum lobortis. Vestibulum facilisis tempor ipsum, ut rhoncus magna ultricies laoreet. Proin vehicula erat eget libero accumsan iaculis.<br></p>-->
                    <!--                        </div>-->
                </div>
            </div><!-- /col -->
        </div>
    </div>
</section>
<!--Title name end-->
<section class="py-4 py-lg-1 pb-2">
    <div class="container my-5">
        <div class="row pb-4 pe-lg-4 pt-lg-4 align-items-center rounded-5 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h2 class="fw-bold display-6">Summary</h2>
                    </div>
                </div>
                <div class="lc-block mb-3">
                    <div class="d-inline-flex">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor"
                                 viewBox="0 0 16 16" style="" lc-helper="svg-icon" class="text-muted">
                                <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"></path>
                            </svg>
                        </div>

                        <div class="ms-3 align-self-center" editable="rich">
                            <p class="rfs-10">
                                <th:block th:text="${movie.summary}"></th:block>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0"><img class="rounded-start overflow-hidden shadow-lg ms-xxl-5"
                                                       style="width: 75%" th:src="${movie.imgUrl}"
                                                       th:alt="${movie.title}"
                                                       width="1080" sizes="(max-width: 1080px) 100vw, 1080px"
                                                       height="1080">

            </div>
        </div>
    </div>
</section>

<section class="py-4 py-lg-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                <div class="lc-block mb-3">

                    <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor"
                         viewBox="0 0 16 16" style="" lc-helper="svg-icon">
                        <path d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z"></path>
                    </svg>

                </div>

                <div class="lc-block">
                    <span class="display-4" editable="inline"><b class="fw-bold"><th:block
                            th:text="${movie.rating}"></th:block></b></span>
                    <div editable="rich">IMDb rating</div>
                </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                <div class="lc-block mb-3">

                    <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor"
                         viewBox="0 0 16 16" style="" lc-helper="svg-icon">
                        <path d="M8 9.5a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"></path>
                        <path d="M9.5 2c-.9 0-1.75.216-2.501.6A5 5 0 0 1 13 7.5a6.5 6.5 0 1 1-13 0 .5.5 0 0 1 1 0 5.5 5.5 0 0 0 8.001 4.9A5 5 0 0 1 3 7.5a6.5 6.5 0 0 1 13 0 .5.5 0 0 1-1 0A5.5 5.5 0 0 0 9.5 2zM8 3.5a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"></path>
                    </svg>

                </div>
                <div class="lc-block">
                    <span class="display-4" editable="inline"><b class="fw-bold"><th:block
                            th:text="${formattedDate}"></th:block></b></span>
                    <div editable="rich">
                        <p>Release Date</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                <div class="lc-block mb-3">

                    <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor"
                         viewBox="0 0 16 16" style="" lc-helper="svg-icon">
                        <path d="M0 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-5zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-8zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-11z"></path>
                    </svg>

                </div>
                <div class="lc-block">
                    <span class="display-4" editable="inline"><b class="fw-bold"><th:block
                            th:text="${formattedDuration}"></th:block></b></span>
                    <div editable="rich">Duration</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-6">
    <div class="container">
        <div class="row text-center mb-4">
            <div class="col-md-12 text-center">
                <div class="lc-block">
                    <h2 editable="inline" class="display-2 fw-bold"> Cast</h2>
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 pb-4">
            <th:block th:each="actor : ${cast}" th:limit="4">
                <div class="col-md-6 col-lg-3 my-2">
                    <div class="lc-block">
                        <img th:src="${actor.imgUrl}"
                             title="" alt="" loading="lazy"
                             sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="300">
                    </div>
                    <div class="lc-block position-relative text-center mx-2 mt-n4 py-4 bg-light shadow" style="">
                        <h4 editable="inline">
                            <th:block th:text="${actor.name}">Actor name</th:block>
                        </h4>
                        <p editable="inline" class="small">
                            <th:block>Character name?</th:block>
                        </p>
                        <div class="nav justify-content-center">
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</section>

<footer th:replace="~{fragments/commons::footer}" class=""></footer>
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>